/* En este archivo escriban su CSS */
:root {
  --primario: #05a2b1;
  --blanco: #ffffff;
  --negro: #000000;
}
/* Fonts */
html {
  font-family: "Roboto", sans-serif;
}
/* Importar aquí la font */

/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Para que el scrolleo en la one page sea suave */
  scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
  list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
  text-decoration: none;
  color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
  max-width: 100%;
  margin: auto;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/

/* seccion header*/
header {
  background: rgb(6, 16, 17);
  background: linear-gradient(
    180deg,
    rgba(6, 16, 17, 1) 86%,
    rgba(6, 98, 107, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.logo {
  width: 30%;
}
.logo img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}
.navegacion {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  color: var(--blanco);
}
.navegacion a:hover {
  font-weight: 700;
  color: var(--primario);
}

/* Seccion Principal*/

.video-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(23, 59, 62, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
  padding-top: 50px;
  object-fit: fill;
}

.imagen-perfil {
  display: block;
  width: 320px;
  height: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 0px 2px 2px rgba(54, 175, 189, 0.75);
}

.texto-principal {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding: 50px;
  color: var(--blanco);
  letter-spacing: 1.2px;
  line-height: 1.5;
}

.texto-principal h1 {
  margin-bottom: 15px;
}

.boton {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: var(--primario);
  color: var(--blanco);
  border: none;
  cursor: pointer;
}

.boton:hover {
  font-weight: 700;
  border: 1px solid var(--negro);
}

.contenido-principal {
  width: 100%;
  margin-top: 100px;
}
.hero-img {
  position: relative;
  top: 0;
  left: 0;
  background: url("/docs/img/pexels-seppe-machielsen-14011035.jpg") no-repeat
    center center fixed;
  background-size: cover;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.hablemos {
  background-color: rgb(6, 16, 17, 0.6);
  width: 100%;
  border-radius: 20px;
}
.hablemos h2 {
  margin-bottom: 40px;
}

.enlaces {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.enlaces img {
  box-shadow: 0px -1px 11px 8px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px -1px 11px 8px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px -1px 11px 8px rgba(0, 0, 0, 0.75) inset;
  border-radius: 10px;
  padding: 3px;
  display: block;
  width: 120px;
  height: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.enlaces img:hover {
  opacity: 0.8;
}

footer {
  margin-top: 100px;
  width: 100%;
  height: 80px;
  text-align: center;
  color: var(--blanco);
  background: rgb(6, 16, 17);
  background: linear-gradient(
    0deg,
    rgba(6, 16, 17, 1) 86%,
    rgba(6, 98, 107, 1) 100%
  );
  padding-top: 30px;
}
